@use "../../variables/colors.scss" as colors;
@use "../../variables/fonts.scss" as font;
@use "../../variables/styleUtil.scss" as util;

.rental-container {
    background-color: #D3D3D3;
    border-bottom: 6px solid #333333;
    .rental-cards {
        .rental-col {
            .rental-title {
                font-size: 1.5rem;
                text-transform: uppercase;
            }
        }

        .card-col {
            .rental-card {
                .tool-image {
                    width: 6rem;
                    height: 6rem;
                }
                .tool-overlay {
                    .tool-body {
                        .tool-title {
                            font-size: 1rem;
                            letter-spacing: 0.1em;
                        }

                        .rental-btn {
                            @include util.rental-repair();
                        }
                    }
                }
            }
        }
    }
}