@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap");
.navbar {
  background-color: #000000;
}
.navbar .nav-container .nav-icon-section {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-container .nav-icon-section .skull-image {
  max-width: 3.75rem;
  max-height: 3.75rem;
}
@media (min-width: 48rem) {
  .navbar .nav-container .nav-icon-section .skull-image {
    max-width: 5rem;
    max-height: 5rem;
  }
}
.navbar .nav-container .nav-icon-section .svg-inline--fa {
  max-width: 2rem;
  color: #ffffff;
}
.navbar .nav-container .nav-icon-section .navbar-toggler {
  max-width: 4rem;
}
.navbar .nav-container .nav-icon-section .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .row .hero-title {
  max-width: 15rem;
  align-self: center;
}
.navbar .row .repair-btn {
  border: 1px solid #000000;
  font-weight: 500;
  background-color: transparent;
  color: #000000;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.5rem;
  max-width: 12rem;
}
.navbar .row .repair-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.navbar .row .cart:hover {
  color: #4a4a4a;
}
@media (min-width: 62rem) {
  .navbar .row {
    display: none;
  }
}

.offcanvas {
  background-color: #000000;
}
.offcanvas .offcanvas-header .business-title {
  color: #ffffff !important;
  font-size: 1.125rem;
  max-width: 55%;
}
.offcanvas .offcanvas-header .btn-close {
  border-radius: 0;
  padding: 1rem;
  background-color: #ffffff;
  opacity: 100%;
}
.offcanvas .offcanvas-header .btn-close:hover {
  background-color: #333333;
}
.offcanvas .offcanvas-header .skull-icon {
  max-width: 3.75rem;
  max-height: 3.75rem;
}
@media (min-width: 62rem) {
  .offcanvas .offcanvas-body {
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
  }
}
.offcanvas .offcanvas-body .nav-link {
  font-family: "Tenor Sans", serif;
  color: #ffffff;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #ffffff;
  padding: 0;
}
@media (min-width: 62rem) {
  .offcanvas .offcanvas-body .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.offcanvas .offcanvas-body .nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: #4a4a4a;
  text-decoration-color: #ffffff;
}
.offcanvas .offcanvas-body .search-icon {
  color: #ffffff;
}
.offcanvas .offcanvas-body .search {
  max-width: 10rem;
  font-family: "Tenor Sans", serif;
  color: #ffffff;
  letter-spacing: 0.05em;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
}
.offcanvas .offcanvas-body .search::-moz-placeholder {
  color: #ffffff;
  opacity: 65%;
}
.offcanvas .offcanvas-body .search::placeholder {
  color: #ffffff;
  opacity: 65%;
}
.offcanvas .offcanvas-body .search:focus, .offcanvas .offcanvas-body .search:active {
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  box-shadow: none;
}
.offcanvas .offcanvas-body .font-nav {
  border-radius: 0.5rem;
  max-width: 5rem;
}
@media (min-width: 62rem) {
  .offcanvas .offcanvas-body .font-nav {
    display: flex;
    justify-content: center;
  }
}
.offcanvas .offcanvas-body .font-nav:hover {
  color: #4a4a4a;
}
.offcanvas .offcanvas-body .rental-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 2.25rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  max-width: 10rem;
}
.offcanvas .offcanvas-body .rental-btn:hover {
  background-color: #ffffff;
  color: #000000;
}/*# sourceMappingURL=header.css.map */