@use "../../variables/colors.scss" as colors;
@use "../../variables/fonts.scss" as font;
@use "../../variables/styleUtil.scss" as util;

.navbar {
    background-color: colors.colorTheme(app-black);
    .nav-container {
        .nav-icon-section {
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .skull-image {
                max-width: 3.75rem;
                max-height: 3.75rem;

                @media (min-width: 48rem) {
                    max-width: 5rem;
                    max-height: 5rem;
                }
            }
            
            .svg-inline--fa {
                max-width: 2rem;
                color: colors.colorTheme(app-white);
            }

            .navbar-toggler {
                max-width: 4rem;
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }


            }
            
        }
    }

    .row {
        .hero-title {
            max-width: 15rem;
            align-self: center;
        }

        .repair-btn {
            @include util.button-style-one();
        }

        .cart {
            &:hover {
                color: #4a4a4a;
            }
        }

        @media (min-width: 62rem) {
            display: none;
        }
    }
}

.offcanvas {
    background-color: colors.colorTheme(app-black);
    .offcanvas-header {
        .business-title {
            color: colors.colorTheme(app-white) !important;
            font-size: 1.125rem;
            max-width: 55%;
        }

        .btn-close {
            border-radius: 0;
            padding: 1rem;
            background-color: colors.colorTheme(app-white);
            opacity: 100%;

            &:hover {
                background-color: colors.colorTheme(app-grey);
            }
        }

        .skull-icon {
            max-width: 3.75rem;
            max-height: 3.75rem;
        }
    }

    .offcanvas-body {
        @media (min-width: 62rem) {
            flex-direction: row !important;
            align-items: center;
            justify-content: center;
        }
        .nav-link {
            @media (min-width: 62rem) {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            
            @include util.nav-links();
        }

        .search-icon {
            color: colors.colorTheme(app-white);
        }

        .search {
            @include util.search();
        }

        .font-nav {
           @include util.font-nav-links();
        }

        .rental-btn {
            @include util.button-style-two();
        }
    }
}